 <div class="container">
	   <div class="row">				
				<section class="main col-md-12">
					<article>
						
					<h1> Credits/ Resources</h1>
                    <b>Icons : </b> <i><a href="https://www.flaticon.com/">www.flaticon.com</a></i> <br>
                    <b>Images : </b> <i><a href="https://www.google.com">www.google.com</a></i><br>
                    <b>Web Tutorials : </b> <i><a href="http://zenit.senecac.on.ca/~patrick.crawford/">zenit.senecac.on.ca</a></i><br>
                    <b>HTML/CSS/Javascript Resources : </b> <i><a href=" https://www.w3schools.com/">wwww.w3.schools.com</a></i><br>
                    <br>
					</article>
				</section>
		</div>