<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>WEB322 App</title>
   <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
   <link rel="stylesheet" href="/CSS/site.css" type="text/css" />
   </style>
</head>
<body>
	<header>
					<h1>My Application ~ </h1>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="pull-left">
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
                    <ul class="pull-right">
                        <li> <a href="/employees"> All Employees </a> </li>
                        <li> <a href="/managers"> Managers </a> </li>
                        <li> <a href="/departments"> Departments </a> </li>
                </ul>

				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   {{{body}}}
	</div>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>2017 - Samantha West (128111168)</h2>
				</div>
			</div>
		</div>
   </footer>
</body>

</html>