   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Samantha West - the developer</h2>
					<p>Hello, </p><br>
					<p>I'm a 23 year old aspiring programmer from Pickering,Ontatio in My
						second year at Seneca College. When I've graduate I would like  to use
						my skills learned inside and outside Seneca College to attain a position
						where I can continue developing my programming skills as well as used them
						to solve real world problems. 
					</p>	
					</article>
				</section>
		</div>